{% extends "users/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" action='recebe-dados.php' method="post">
        {% csrf_token %}
        <label for="nome">Nome</label>
        <input type="text", name="username", placeholder="">
        <label for="senha">Senha</label>
        <input type="password", name="password", placeholder="Senha">
        <input type="submit", value="Login">
    </form>
{% endblock %}
